.venv
venv
__pycache__
*.egg
*.egg-info/
dist/
build/
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/DSControl.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
